{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pinjam buku</title>
</head>
<body>
    <br>
    <h1>Sewa Buku</h1>
    <hr>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            <div class="col-4">
                {{render_field(form.id_buku, class_="form-control")}}
            </div>
        </div><br>
        <div class="form-group">
            <div class="col-4">
                {{render_field(form.id_member, class_="form-control")}}
            </div>
        </div><br>
        <div class="form-group">
            <div class="col-4">
                {{render_field(form.biaya_sewa, class_="form-control")}}
            </div>
        </div>
        <br>
        <p><button type="submit" class="btn btn-primary" value="Submit">Submit</button></p>
    </form>
    {% endblock %}
</body>
</html>
